<!DOCTYPE html>

<html>
    <head>
        {% if title %}
            <title>{{ title }} - Время учиться!</title>
        {% else %}
            <title>Время учиться!</title>
        {% endif %}
    </head>
    <body>
        <div>
              Куда теперь?
            <a href="{{ url_for('index') }}">Домой!</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Зайти в школу</a>
            {% else %}
                {% if current_user.status=='teacher' %}
                    <a href="{{ url_for('add_task') }}">Создать задание</a>
                {% endif %}
                
                <a href="{{ url_for('user', username=current_user.username) }}">Ваш профиль</a>
                <a href="{{ url_for('logout') }}">Покинуть уроки</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
